
/********************HEADER*************************/

.header-wrapper {
    position: relative;
    background: url(../images/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}
  
  .main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condesed", sans-serif;
    z-index: 2;
  }
  
  .main-info h1 {
    color: var(--primary-purple);
    font-size: 3rem;
  }
  
  @media(max-width: 768px) {
    .main-info h1 {
      font-size: 1rem !important;
    }
  }
  /*----TYPED-REACT----*/
  
  .typed-text{
    font-size: 2rem;
    color: var(--primary-white);
  }
  
  /*----MAIN-BTN----*/
  .btn-main-contact {
    border: 1px solid var(--primary-purple);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.65rem 0.75rem 0.75rem 0.75rem ;
    color: var(--primary-white);
    margin-top: 2rem;
    z-index: 2;
  }
  
  .btn-main-contact:hover {
    text-decoration: none;
    background-color: var(--primary-purple);
    color: var(--primary-white);
    transition: .2s ease-out;
  }