@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
  --primary-white: #fff;
  --primary-purple: #A117F2;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condesed", sans-serif;
}

.tsparticles-canvas-el{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

@media(max-width: 768px){
  .particles-canvas{
    display:none;
  }
}

